.futerDiv {
  /* background: linear-gradient(180deg, #85c799 50% 50%, #397b4e 100% 100%); */
  background: rgb(11, 143, 51);
  display: flex;
  height: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.futerText {
  width: auto;
  text-align: center;
}

p {
  margin-top: 5px;
}

.futerLicence {
  font-size: 10px;
}

.futerTextImg {
  width: auto;
  display: inline-flex;
}

.futureImg {
  width: 25px;
  padding-left: 15px;
}

@media (max-width: 500px) {
  p {
    font-size: 13px;
  }

  .futureImg {
    width: 20px;
    padding-left: 10px;
  }
  .futerLicence {
    font-size: 8px;
  }
}

@media (max-width: 800px) {
  /* .futerDiv {
    background: rgb(11, 143, 51);
  } */
}
