.header {
  background: rgb(11, 143, 51);
  display: flex;
  padding-top: 30px;
  color: white;
  justify-content: space-between;
}

.logo {
  margin-top: -33px;
  margin-left: 10px;
  width: 150px;
}

.logo a img {
  width: 150px;
}

.services {
  margin-top: -10px;
  white-space: nowrap;
  width: auto;
}

.services li {
  display: inline;
  margin-left: 25px;
}

.services li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-right: 15px;
}

.services li a img {
  width: 25px;
}

.servicesDouble {
  display: none;
}
.servicesBurger {
  display: none;
}

.mobileBtn {
  display: none;
}

@media (max-width: 936px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobileBtn {
    display: block;
    margin-right: -888px;
  }

  .mobileBtn img {
    position: relative;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    width: 40px;
    transition: 1s;
  }

  .mobileBtn img:active {
    transform: rotate(1turn);
  }

  .services {
    display: none;
  }
  .servicesDouble {
    display: none;
  }

  .logo {
    display: none;
  }

  .servicesBurger {
    display: flex;
    text-align: center;
  }

  .logoBurger {
    width: 200px;
  }

  .servicesBurger li {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }

  .servicesBurger li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
  }

  .logoBurger {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .logoBurger img {
    margin-left: -60px;
  }

  .servicesBurger li a {
    padding-right: 15px;
    padding-left: 15px;
  }

  .servicesBurger li a img {
    margin-bottom: 15px;
    width: 25px;
  }
}

@media (max-width: 450px) {
  .mobileBtn img {
    width: 30px;
    transition: 1s;
  }
  .mobileBtn img:active {
    transform: rotate(1turn);
  }
}
